// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-nav-name: 'btn-nav';
$btn-nav-x: 0px;
$btn-nav-y: 81px;
$btn-nav-offset-x: 0px;
$btn-nav-offset-y: -81px;
$btn-nav-width: 62px;
$btn-nav-height: 43px;
$btn-nav-total-width: 172px;
$btn-nav-total-height: 124px;
$btn-nav-image: './img/sprite_nav_head_m.png';
$btn-nav: (0px, 81px, 0px, -81px, 62px, 43px, 172px, 124px, './img/sprite_nav_head_m.png', 'btn-nav', );
$btn-subscribe-name: 'btn-subscribe';
$btn-subscribe-x: 0px;
$btn-subscribe-y: 0px;
$btn-subscribe-offset-x: 0px;
$btn-subscribe-offset-y: 0px;
$btn-subscribe-width: 172px;
$btn-subscribe-height: 71px;
$btn-subscribe-total-width: 172px;
$btn-subscribe-total-height: 124px;
$btn-subscribe-image: './img/sprite_nav_head_m.png';
$btn-subscribe: (0px, 0px, 0px, 0px, 172px, 71px, 172px, 124px, './img/sprite_nav_head_m.png', 'btn-subscribe', );
$spritesheet-width: 172px;
$spritesheet-height: 124px;
$spritesheet-image: './img/sprite_nav_head_m.png';
$spritesheet-sprites: ($btn-nav, $btn-subscribe, );
$spritesheet: (172px, 124px, './img/sprite_nav_head_m.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
