<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="赛尔特大陆官网,赛尔特大陆礼包,赛尔特大陆攻略"/>
    <meta name="description" content="《赛尔特大陆》是一款开放世界冒险题材的搞怪MMO RPG手游。在黑暗力量登陆赛尔特大陆之际，我们召集各方勇士一同作战。在这里，你可以成为剑士、法师、祭祀或小丑，培养Q萌宠物，结交亲密伙伴，与哈比兔并肩作战，变身击杀boss......除此之外，昼夜更替的天气系统，炫酷的连续技，灵魂轮回谷，CP系统，打不过就“装死”的技能都将给你的冒险旅程带来不一样的惊喜体验。面对强大的黑暗力量，勇士们速速拿起手中的武器，为爱而战！为家园而战！" />
    <link rel="icon" href="//img1.37wanimg.com/www/images/common/37/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="//img1.37wanimg.com/www/images/common/37/favicon.ico" type="image/x-icon" />
    <title>《赛尔特大陆》官网</title>
    <link rel="stylesheet" type="text/css" href="//img1.37wanimg.com/www/css/global.css?t=20210306101156"/>
    <script type="text/javascript">
        var g_config = {
            id: 708,
            name: "赛尔特大陆",
            secDir: true,
            key: "setdl",
            url: "//www.37.com/setdl/",
            page: "index",
            noTip16: true
        };
    </script> 
    <script type="text/javascript" src="//ptres.37.com/content/cache/game_site_header_nav.js?v=20160125"></script>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="//ptres.37.com/js/sq/lib/sq.core.js?t=20140327115259"></script>
    <script type="text/javascript" id="sq-statis-refer" src="//ptres.37.com/js/sq/widget/sq.game.all.js?t=20210705"></script>
</body>
</html>