// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$kv-bullet-h-name: 'kv-bullet-h';
$kv-bullet-h-x: 0px;
$kv-bullet-h-y: 0px;
$kv-bullet-h-offset-x: 0px;
$kv-bullet-h-offset-y: 0px;
$kv-bullet-h-width: 20px;
$kv-bullet-h-height: 20px;
$kv-bullet-h-total-width: 50px;
$kv-bullet-h-total-height: 20px;
$kv-bullet-h-image: './img/sprite_kv_swiper_m.png';
$kv-bullet-h: (0px, 0px, 0px, 0px, 20px, 20px, 50px, 20px, './img/sprite_kv_swiper_m.png', 'kv-bullet-h', );
$kv-bullet-name: 'kv-bullet';
$kv-bullet-x: 30px;
$kv-bullet-y: 0px;
$kv-bullet-offset-x: -30px;
$kv-bullet-offset-y: 0px;
$kv-bullet-width: 20px;
$kv-bullet-height: 20px;
$kv-bullet-total-width: 50px;
$kv-bullet-total-height: 20px;
$kv-bullet-image: './img/sprite_kv_swiper_m.png';
$kv-bullet: (30px, 0px, -30px, 0px, 20px, 20px, 50px, 20px, './img/sprite_kv_swiper_m.png', 'kv-bullet', );
$spritesheet-width: 50px;
$spritesheet-height: 20px;
$spritesheet-image: './img/sprite_kv_swiper_m.png';
$spritesheet-sprites: ($kv-bullet-h, $kv-bullet, );
$spritesheet: (50px, 20px, './img/sprite_kv_swiper_m.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
