@import './asset.scss';
@import './mixin.scss';
@import './sprite.scss';

body{
    font: 12px/1.5 "Microsoft Yahei",SimSun;
    background: url('../img/bg.png') repeat top center;
}

.container{
    // max-width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    *{
        box-sizing: inherit;
    }
    a{
        text-decoration: none;
    }
}

.banner{
    position: relative;
    width: 750px;
    height: 1200px;
    background-size: cover;
    .gamesite-tip16{
        display: block;
        position: absolute;
        left: 20px;
        top: 970px;
        width: 79px;
        height: 102px;
        @include sprite($gamesite-tip16);
    }
    .kv{
        position: absolute;
        left: 0;
        top: 0;
        width: 750px;
        height: 1200px;
        a{
            display: block;
        }
    }
}

// 规则弹窗
.rule-box{
    height: 300px;
    overflow-y: scroll;
    text-align: left;
}