<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="//img1.37wanimg.com/www/images/common/37/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="//img1.37wanimg.com/www/images/common/37/favicon.ico" type="image/x-icon" />
    <title></title>
    <script>
        let search = window.location.search;
        if (navigator.userAgent.match(
                /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
            )) {
            if (search) {
                window.location.href = '//www.37.com/sgby/wap/' + search;
            } else {
                window.location.href = '//www.37.com/sgby/wap/';
            }
        }
    </script>
    <!--[if lte IE 9]>
        <script>
            alert("您的浏览器版本过低，为了您更好的浏览体验，请升级您的浏览器版本！");
        </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="//img1.37wanimg.com/www/css/global.css?t=20210306101156" />
</head>

<body>
    <div id="app"></div>
</body>

</html>