// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 1005px;
$arrow-y: 372px;
$arrow-offset-x: -1005px;
$arrow-offset-y: -372px;
$arrow-width: 64px;
$arrow-height: 86px;
$arrow-total-width: 1355px;
$arrow-total-height: 972px;
$arrow-image: '/src/assets/wap/img/sprite.png';
$arrow: (1005px, 372px, -1005px, -372px, 64px, 86px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'arrow', );
$btn-raders-name: 'btn-raders';
$btn-raders-x: 0px;
$btn-raders-y: 709px;
$btn-raders-offset-x: 0px;
$btn-raders-offset-y: -709px;
$btn-raders-width: 640px;
$btn-raders-height: 77px;
$btn-raders-total-width: 1355px;
$btn-raders-total-height: 972px;
$btn-raders-image: '/src/assets/wap/img/sprite.png';
$btn-raders: (0px, 709px, 0px, -709px, 640px, 77px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'btn-raders', );
$feature-tab-1-h-name: 'feature-tab-1-h';
$feature-tab-1-h-x: 0px;
$feature-tab-1-h-y: 796px;
$feature-tab-1-h-offset-x: 0px;
$feature-tab-1-h-offset-y: -796px;
$feature-tab-1-h-width: 350px;
$feature-tab-1-h-height: 83px;
$feature-tab-1-h-total-width: 1355px;
$feature-tab-1-h-total-height: 972px;
$feature-tab-1-h-image: '/src/assets/wap/img/sprite.png';
$feature-tab-1-h: (0px, 796px, 0px, -796px, 350px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'feature-tab-1-h', );
$feature-tab-1-name: 'feature-tab-1';
$feature-tab-1-x: 1005px;
$feature-tab-1-y: 93px;
$feature-tab-1-offset-x: -1005px;
$feature-tab-1-offset-y: -93px;
$feature-tab-1-width: 350px;
$feature-tab-1-height: 83px;
$feature-tab-1-total-width: 1355px;
$feature-tab-1-total-height: 972px;
$feature-tab-1-image: '/src/assets/wap/img/sprite.png';
$feature-tab-1: (1005px, 93px, -1005px, -93px, 350px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'feature-tab-1', );
$feature-tab-2-h-name: 'feature-tab-2-h';
$feature-tab-2-h-x: 360px;
$feature-tab-2-h-y: 796px;
$feature-tab-2-h-offset-x: -360px;
$feature-tab-2-h-offset-y: -796px;
$feature-tab-2-h-width: 350px;
$feature-tab-2-h-height: 83px;
$feature-tab-2-h-total-width: 1355px;
$feature-tab-2-h-total-height: 972px;
$feature-tab-2-h-image: '/src/assets/wap/img/sprite.png';
$feature-tab-2-h: (360px, 796px, -360px, -796px, 350px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'feature-tab-2-h', );
$feature-tab-2-name: 'feature-tab-2';
$feature-tab-2-x: 1005px;
$feature-tab-2-y: 279px;
$feature-tab-2-offset-x: -1005px;
$feature-tab-2-offset-y: -279px;
$feature-tab-2-width: 349px;
$feature-tab-2-height: 83px;
$feature-tab-2-total-width: 1355px;
$feature-tab-2-total-height: 972px;
$feature-tab-2-image: '/src/assets/wap/img/sprite.png';
$feature-tab-2: (1005px, 279px, -1005px, -279px, 349px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'feature-tab-2', );
$more-name: 'more';
$more-x: 1199px;
$more-y: 372px;
$more-offset-x: -1199px;
$more-offset-y: -372px;
$more-width: 24px;
$more-height: 24px;
$more-total-width: 1355px;
$more-total-height: 972px;
$more-image: '/src/assets/wap/img/sprite.png';
$more: (1199px, 372px, -1199px, -372px, 24px, 24px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'more', );
$play-name: 'play';
$play-x: 1233px;
$play-y: 372px;
$play-offset-x: -1233px;
$play-offset-y: -372px;
$play-width: 22px;
$play-height: 22px;
$play-total-width: 1355px;
$play-total-height: 972px;
$play-image: '/src/assets/wap/img/sprite.png';
$play: (1233px, 372px, -1233px, -372px, 22px, 22px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'play', );
$qr-bg-name: 'qr-bg';
$qr-bg-x: 743px;
$qr-bg-y: 0px;
$qr-bg-offset-x: -743px;
$qr-bg-offset-y: 0px;
$qr-bg-width: 252px;
$qr-bg-height: 255px;
$qr-bg-total-width: 1355px;
$qr-bg-total-height: 972px;
$qr-bg-image: '/src/assets/wap/img/sprite.png';
$qr-bg: (743px, 0px, -743px, 0px, 252px, 255px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'qr-bg', );
$role-cur-name: 'role-cur';
$role-cur-x: 1079px;
$role-cur-y: 372px;
$role-cur-offset-x: -1079px;
$role-cur-offset-y: -372px;
$role-cur-width: 110px;
$role-cur-height: 24px;
$role-cur-total-width: 1355px;
$role-cur-total-height: 972px;
$role-cur-image: '/src/assets/wap/img/sprite.png';
$role-cur: (1079px, 372px, -1079px, -372px, 110px, 24px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'role-cur', );
$role-tab-1-h-name: 'role-tab-1-h';
$role-tab-1-h-x: 0px;
$role-tab-1-h-y: 889px;
$role-tab-1-h-offset-x: 0px;
$role-tab-1-h-offset-y: -889px;
$role-tab-1-h-width: 350px;
$role-tab-1-h-height: 83px;
$role-tab-1-h-total-width: 1355px;
$role-tab-1-h-total-height: 972px;
$role-tab-1-h-image: '/src/assets/wap/img/sprite.png';
$role-tab-1-h: (0px, 889px, 0px, -889px, 350px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'role-tab-1-h', );
$role-tab-1-name: 'role-tab-1';
$role-tab-1-x: 360px;
$role-tab-1-y: 889px;
$role-tab-1-offset-x: -360px;
$role-tab-1-offset-y: -889px;
$role-tab-1-width: 350px;
$role-tab-1-height: 83px;
$role-tab-1-total-width: 1355px;
$role-tab-1-total-height: 972px;
$role-tab-1-image: '/src/assets/wap/img/sprite.png';
$role-tab-1: (360px, 889px, -360px, -889px, 350px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'role-tab-1', );
$role-tab-2-h-name: 'role-tab-2-h';
$role-tab-2-h-x: 1005px;
$role-tab-2-h-y: 0px;
$role-tab-2-h-offset-x: -1005px;
$role-tab-2-h-offset-y: 0px;
$role-tab-2-h-width: 350px;
$role-tab-2-h-height: 83px;
$role-tab-2-h-total-width: 1355px;
$role-tab-2-h-total-height: 972px;
$role-tab-2-h-image: '/src/assets/wap/img/sprite.png';
$role-tab-2-h: (1005px, 0px, -1005px, 0px, 350px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'role-tab-2-h', );
$role-tab-2-name: 'role-tab-2';
$role-tab-2-x: 1005px;
$role-tab-2-y: 186px;
$role-tab-2-offset-x: -1005px;
$role-tab-2-offset-y: -186px;
$role-tab-2-width: 349px;
$role-tab-2-height: 83px;
$role-tab-2-total-width: 1355px;
$role-tab-2-total-height: 972px;
$role-tab-2-image: '/src/assets/wap/img/sprite.png';
$role-tab-2: (1005px, 186px, -1005px, -186px, 349px, 83px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'role-tab-2', );
$title1-name: 'title1';
$title1-x: 0px;
$title1-y: 567px;
$title1-offset-x: 0px;
$title1-offset-y: -567px;
$title1-width: 594px;
$title1-height: 132px;
$title1-total-width: 1355px;
$title1-total-height: 972px;
$title1-image: '/src/assets/wap/img/sprite.png';
$title1: (0px, 567px, 0px, -567px, 594px, 132px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'title1', );
$title2-name: 'title2';
$title2-x: 0px;
$title2-y: 0px;
$title2-offset-x: 0px;
$title2-offset-y: 0px;
$title2-width: 733px;
$title2-height: 132px;
$title2-total-width: 1355px;
$title2-total-height: 972px;
$title2-image: '/src/assets/wap/img/sprite.png';
$title2: (0px, 0px, 0px, 0px, 733px, 132px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'title2', );
$title3-name: 'title3';
$title3-x: 0px;
$title3-y: 284px;
$title3-offset-x: 0px;
$title3-offset-y: -284px;
$title3-width: 671px;
$title3-height: 132px;
$title3-total-width: 1355px;
$title3-total-height: 972px;
$title3-image: '/src/assets/wap/img/sprite.png';
$title3: (0px, 284px, 0px, -284px, 671px, 132px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'title3', );
$title4-name: 'title4';
$title4-x: 0px;
$title4-y: 426px;
$title4-offset-x: 0px;
$title4-offset-y: -426px;
$title4-width: 632px;
$title4-height: 131px;
$title4-total-width: 1355px;
$title4-total-height: 972px;
$title4-image: '/src/assets/wap/img/sprite.png';
$title4: (0px, 426px, 0px, -426px, 632px, 131px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'title4', );
$title5-name: 'title5';
$title5-x: 0px;
$title5-y: 142px;
$title5-offset-x: 0px;
$title5-offset-y: -142px;
$title5-width: 700px;
$title5-height: 132px;
$title5-total-width: 1355px;
$title5-total-height: 972px;
$title5-image: '/src/assets/wap/img/sprite.png';
$title5: (0px, 142px, 0px, -142px, 700px, 132px, 1355px, 972px, '/src/assets/wap/img/sprite.png', 'title5', );
$spritesheet-width: 1355px;
$spritesheet-height: 972px;
$spritesheet-image: '/src/assets/wap/img/sprite.png';
$spritesheet-sprites: ($arrow, $btn-raders, $feature-tab-1-h, $feature-tab-1, $feature-tab-2-h, $feature-tab-2, $more, $play, $qr-bg, $role-cur, $role-tab-1-h, $role-tab-1, $role-tab-2-h, $role-tab-2, $title1, $title2, $title3, $title4, $title5, );
$spritesheet: (1355px, 972px, '/src/assets/wap/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
