@import './asset.scss';
@import './mixin.scss';
@import './sprite.scss';

// 动画
@keyframes pulse{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rolling{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.container{
    width: 100%;
    min-width: 1200px;
    overflow-x: hidden;
    .inner{
        position: relative;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
}

// 首页
.banner{
    width: 100%;
    height: 1000px;
    .gamesite-tip16{
        display: block;
        position: absolute;
        left: 200px;
        top: 788px;
        width: 79px;
        height: 102px;
        background: url('../img/gamesite-tip16.png') no-repeat;
    }
    .btn-play{
        display: block;
        position: absolute;
        left: 136px;
        top: 584px;
        width: 99px;
        height: 110px;
        @include sprite($btn-play);
        animation: pulse 1.5s linear infinite alternate;
        &:hover{
            @include sprite($btn-play-h);
        }
    }
    .kv{
        position: absolute;
        left: -400px;
        top: 0px;
        width: 2000px;
        height: 1000px;
        a{
            display: block;
        }
    }
    .cloud{
        display: block;
        position: absolute;
        left: -400px;
        bottom: 0;
        width: 2000px;
        height: 126px;
        background: url('../img/cloud.png') no-repeat;
    }
}
.section1{
    width: 100%;
    height: 1000px;
    background: url('../img/bg1.jpg') no-repeat top center;
    .title{
        position: absolute;
        left: 238px;
        top: 35px;
        width: 701px;
        height: 172px;
        @include sprite($title1);
        text-indent: -9999px;
    }
    .balloon{
        position: absolute;
        left: -313px;
        top: -171px;
        width: 169px;
        height: 236px;
        @include sprite($balloon);
    }
    .main{
        position: absolute;
        left: -54px;
        top: 236px;
        width: 1306px;
        height: 691px;
        background: url('../img/book.png') no-repeat;
    }
    .kv-wrap{
        position: absolute;
        left: 78px;
        top: 57px;
        width: 506px;
        height: 562px;
        border: 3px solid #fff;
        border-radius: 10px;
    }
    .paper-clip{
        position: absolute;
        left: -48px;
        top: -2px;
        width: 90px;
        height: 70px;
        @include sprite($paper-clip);
        z-index: 2;
    }
    .civet-cat{
        position: absolute;
        left: -102px;
        top: 376px;
        width: 248px;
        height: 239px;
        @include sprite($civet-cat);
        z-index: 2;
    }
}
.section2{
    width: 100%;
    height: 1076px;
    background: url('../img/bg2.jpg') no-repeat top center;
    .title{
        position: absolute;
        left: 245px;
        top: 0px;
        width: 729px;
        height: 172px;
        @include sprite($title2);
        text-indent: -9999px;
    }
}
.section3{
    width: 100%;
    height: 1100px;
    background: url('../img/bg3.jpg') no-repeat top center;
    .title{
        position: absolute;
        left: 238px;
        top: 64px;
        width: 716px;
        height: 172px;
        @include sprite($title3);
        text-indent: -9999px;
    }
}
.section4{
    width: 100%;
    height: 990px;
    background: url('../img/bg4.jpg') no-repeat top center;
    .title{
        position: absolute;
        left: 238px;
        top: 75px;
        width: 729px;
        height: 172px;
        @include sprite($title4);
        text-indent: -9999px;
    }
}
.section5{
    width: 100%;
    height: 457px;
    background: url('../img/bg5.jpg') no-repeat top center;
}
.btn-reserve{
    position: fixed;
    left: 12px;
    top: 50%;
    margin-top: -177px;
    width: 231px;
    height: 354px;
    @include sprite($btn-reserve);
    z-index: 1000;
    animation: rolling 1s linear infinite alternate;
    &:hover{
        @include sprite($btn-reserve-h);
    }
}
.gc-pic{
    position: fixed;
    // left: 12px;
    right: 12px;
    top: 50%;
    margin-top: -177px;
    width: 231px;
    height: 354px;
    z-index: 1000;
    animation: rolling 1s linear infinite alternate;
    // background: #000;
}

// 文章页
.article,.list{
}
.c-kv{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 39px;
    width: 100%;
    height: 1100px;
    background: url('../img/c-bg.jpg') no-repeat top center;
}
.c-wrap{
    position: relative;
    width: 1200px;
    margin: 150px auto 0;
    padding-bottom: 16px;
    overflow: hidden;
    .c-main{
        background: #fffdf4 url('../img/c-main-bg.png') no-repeat top center;
        overflow: hidden;
    }
    .article-hd{
        padding: 24px 32px 18px;
        height: 58px;
        background: #e57942; 
        h3{
            height: 36px;
            line-height: 36px;
            overflow: hidden;
            font-size: 30px;
            color: #fff;
        }
        p{
            line-height: 22px;
            font-size: 14px;
            color: #fff;
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: #fffb81;
                }
            }
        }
    }
    .article-content{
        padding: 30px 50px;
        min-height: 800px;
        font-size: 14px;
        h4{
            line-height: 48px;
            text-align: center;
            font-size: 24px;
            color: #3a71c6;
        }
        .detail{
            line-height: 26px;
            text-align: center;
            font-size: 12px;
            color: #999;
            span{
                display: inline-block;
                margin: 0 5px;
            }
        }
        .cont{
            padding: 25px 0;
            p{
                line-height: 36px;
                font-size: 14px;
                color: #333;
            }
        }
    }
    .article-list{
        padding: 30px 40px;
        min-height: 980px;
        li{
            height: 49px;
            line-height: 49px;
            border-bottom: 1px dashed #999;
            overflow: hidden;
            font-size: 14px;
            color: #333;
            &:last-child{
              border-bottom: 0px;
            }
            span{
              float: right;
            }
            a{
              color: #333;
              text-decoration: none;
              &:hover{
                color: #3272f8;
              }
            }
        }
    }

    .pages{
        text-align: center;
        margin-bottom: 40px;
        a, span{
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin: 3px;
            padding: 0 12px;
            border-radius: 15px;
            background: #4488f7;
            font-size: 12px;
            color: #fff;
        }
        a{
            text-decoration: none;
        }
        span{
            background: #e57942;
            color: #fff;
        }
        a:hover{
            background: #e57942;
            color: #fff;
        }
    }
}

// 规则弹窗
.rule-box{
    height: 300px;
    overflow-y: scroll;
    text-align: left;
}