// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$balloon-name: 'balloon';
$balloon-x: 258px;
$balloon-y: 728px;
$balloon-offset-x: -258px;
$balloon-offset-y: -728px;
$balloon-width: 169px;
$balloon-height: 236px;
$balloon-total-width: 970px;
$balloon-total-height: 967px;
$balloon-image: '../img/sprite.png';
$balloon: (258px, 728px, -258px, -728px, 169px, 236px, 970px, 967px, '../img/sprite.png', 'balloon', );
$btn-play-h-name: 'btn-play-h';
$btn-play-h-x: 437px;
$btn-play-h-y: 728px;
$btn-play-h-offset-x: -437px;
$btn-play-h-offset-y: -728px;
$btn-play-h-width: 99px;
$btn-play-h-height: 110px;
$btn-play-h-total-width: 970px;
$btn-play-h-total-height: 967px;
$btn-play-h-image: '../img/sprite.png';
$btn-play-h: (437px, 728px, -437px, -728px, 99px, 110px, 970px, 967px, '../img/sprite.png', 'btn-play-h', );
$btn-play-name: 'btn-play';
$btn-play-x: 546px;
$btn-play-y: 728px;
$btn-play-offset-x: -546px;
$btn-play-offset-y: -728px;
$btn-play-width: 99px;
$btn-play-height: 110px;
$btn-play-total-width: 970px;
$btn-play-total-height: 967px;
$btn-play-image: '../img/sprite.png';
$btn-play: (546px, 728px, -546px, -728px, 99px, 110px, 970px, 967px, '../img/sprite.png', 'btn-play', );
$btn-reserve-h-name: 'btn-reserve-h';
$btn-reserve-h-x: 739px;
$btn-reserve-h-y: 0px;
$btn-reserve-h-offset-x: -739px;
$btn-reserve-h-offset-y: 0px;
$btn-reserve-h-width: 231px;
$btn-reserve-h-height: 354px;
$btn-reserve-h-total-width: 970px;
$btn-reserve-h-total-height: 967px;
$btn-reserve-h-image: '../img/sprite.png';
$btn-reserve-h: (739px, 0px, -739px, 0px, 231px, 354px, 970px, 967px, '../img/sprite.png', 'btn-reserve-h', );
$btn-reserve-name: 'btn-reserve';
$btn-reserve-x: 739px;
$btn-reserve-y: 364px;
$btn-reserve-offset-x: -739px;
$btn-reserve-offset-y: -364px;
$btn-reserve-width: 231px;
$btn-reserve-height: 354px;
$btn-reserve-total-width: 970px;
$btn-reserve-total-height: 967px;
$btn-reserve-image: '../img/sprite.png';
$btn-reserve: (739px, 364px, -739px, -364px, 231px, 354px, 970px, 967px, '../img/sprite.png', 'btn-reserve', );
$civet-cat-name: 'civet-cat';
$civet-cat-x: 0px;
$civet-cat-y: 728px;
$civet-cat-offset-x: 0px;
$civet-cat-offset-y: -728px;
$civet-cat-width: 248px;
$civet-cat-height: 239px;
$civet-cat-total-width: 970px;
$civet-cat-total-height: 967px;
$civet-cat-image: '../img/sprite.png';
$civet-cat: (0px, 728px, 0px, -728px, 248px, 239px, 970px, 967px, '../img/sprite.png', 'civet-cat', );
$paper-clip-name: 'paper-clip';
$paper-clip-x: 655px;
$paper-clip-y: 728px;
$paper-clip-offset-x: -655px;
$paper-clip-offset-y: -728px;
$paper-clip-width: 90px;
$paper-clip-height: 70px;
$paper-clip-total-width: 970px;
$paper-clip-total-height: 967px;
$paper-clip-image: '../img/sprite.png';
$paper-clip: (655px, 728px, -655px, -728px, 90px, 70px, 970px, 967px, '../img/sprite.png', 'paper-clip', );
$title1-name: 'title1';
$title1-x: 0px;
$title1-y: 546px;
$title1-offset-x: 0px;
$title1-offset-y: -546px;
$title1-width: 701px;
$title1-height: 172px;
$title1-total-width: 970px;
$title1-total-height: 967px;
$title1-image: '../img/sprite.png';
$title1: (0px, 546px, 0px, -546px, 701px, 172px, 970px, 967px, '../img/sprite.png', 'title1', );
$title2-name: 'title2';
$title2-x: 0px;
$title2-y: 182px;
$title2-offset-x: 0px;
$title2-offset-y: -182px;
$title2-width: 729px;
$title2-height: 172px;
$title2-total-width: 970px;
$title2-total-height: 967px;
$title2-image: '../img/sprite.png';
$title2: (0px, 182px, 0px, -182px, 729px, 172px, 970px, 967px, '../img/sprite.png', 'title2', );
$title3-name: 'title3';
$title3-x: 0px;
$title3-y: 364px;
$title3-offset-x: 0px;
$title3-offset-y: -364px;
$title3-width: 716px;
$title3-height: 172px;
$title3-total-width: 970px;
$title3-total-height: 967px;
$title3-image: '../img/sprite.png';
$title3: (0px, 364px, 0px, -364px, 716px, 172px, 970px, 967px, '../img/sprite.png', 'title3', );
$title4-name: 'title4';
$title4-x: 0px;
$title4-y: 0px;
$title4-offset-x: 0px;
$title4-offset-y: 0px;
$title4-width: 729px;
$title4-height: 172px;
$title4-total-width: 970px;
$title4-total-height: 967px;
$title4-image: '../img/sprite.png';
$title4: (0px, 0px, 0px, 0px, 729px, 172px, 970px, 967px, '../img/sprite.png', 'title4', );
$spritesheet-width: 970px;
$spritesheet-height: 967px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($balloon, $btn-play-h, $btn-play, $btn-reserve-h, $btn-reserve, $civet-cat, $paper-clip, $title1, $title2, $title3, $title4, );
$spritesheet: (970px, 967px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
