// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 970px;
$arrow-y: 206px;
$arrow-offset-x: -970px;
$arrow-offset-y: -206px;
$arrow-width: 86px;
$arrow-height: 111px;
$arrow-total-width: 1085px;
$arrow-total-height: 917px;
$arrow-image: '../img/sprite.png';
$arrow: (970px, 206px, -970px, -206px, 86px, 111px, 1085px, 917px, '../img/sprite.png', 'arrow', );
$btn-raders-h-name: 'btn-raders-h';
$btn-raders-h-x: 0px;
$btn-raders-h-y: 624px;
$btn-raders-h-offset-x: 0px;
$btn-raders-h-offset-y: -624px;
$btn-raders-h-width: 750px;
$btn-raders-h-height: 47px;
$btn-raders-h-total-width: 1085px;
$btn-raders-h-total-height: 917px;
$btn-raders-h-image: '../img/sprite.png';
$btn-raders-h: (0px, 624px, 0px, -624px, 750px, 47px, 1085px, 917px, '../img/sprite.png', 'btn-raders-h', );
$btn-raders-name: 'btn-raders';
$btn-raders-x: 0px;
$btn-raders-y: 567px;
$btn-raders-offset-x: 0px;
$btn-raders-offset-y: -567px;
$btn-raders-width: 750px;
$btn-raders-height: 47px;
$btn-raders-total-width: 1085px;
$btn-raders-total-height: 917px;
$btn-raders-image: '../img/sprite.png';
$btn-raders: (0px, 567px, 0px, -567px, 750px, 47px, 1085px, 917px, '../img/sprite.png', 'btn-raders', );
$copyright-name: 'copyright';
$copyright-x: 642px;
$copyright-y: 366px;
$copyright-offset-x: -642px;
$copyright-offset-y: -366px;
$copyright-width: 210px;
$copyright-height: 28px;
$copyright-total-width: 1085px;
$copyright-total-height: 917px;
$copyright-image: '../img/sprite.png';
$copyright: (642px, 366px, -642px, -366px, 210px, 28px, 1085px, 917px, '../img/sprite.png', 'copyright', );
$cur-h-name: 'cur-h';
$cur-h-x: 970px;
$cur-h-y: 103px;
$cur-h-offset-x: -970px;
$cur-h-offset-y: -103px;
$cur-h-width: 115px;
$cur-h-height: 93px;
$cur-h-total-width: 1085px;
$cur-h-total-height: 917px;
$cur-h-image: '../img/sprite.png';
$cur-h: (970px, 103px, -970px, -103px, 115px, 93px, 1085px, 917px, '../img/sprite.png', 'cur-h', );
$cur-name: 'cur';
$cur-x: 970px;
$cur-y: 0px;
$cur-offset-x: -970px;
$cur-offset-y: 0px;
$cur-width: 115px;
$cur-height: 93px;
$cur-total-width: 1085px;
$cur-total-height: 917px;
$cur-image: '../img/sprite.png';
$cur: (970px, 0px, -970px, 0px, 115px, 93px, 1085px, 917px, '../img/sprite.png', 'cur', );
$feature-tab-1-h-name: 'feature-tab-1-h';
$feature-tab-1-h-x: 404px;
$feature-tab-1-h-y: 763px;
$feature-tab-1-h-offset-x: -404px;
$feature-tab-1-h-offset-y: -763px;
$feature-tab-1-h-width: 394px;
$feature-tab-1-h-height: 72px;
$feature-tab-1-h-total-width: 1085px;
$feature-tab-1-h-total-height: 917px;
$feature-tab-1-h-image: '../img/sprite.png';
$feature-tab-1-h: (404px, 763px, -404px, -763px, 394px, 72px, 1085px, 917px, '../img/sprite.png', 'feature-tab-1-h', );
$feature-tab-1-name: 'feature-tab-1';
$feature-tab-1-x: 0px;
$feature-tab-1-y: 681px;
$feature-tab-1-offset-x: 0px;
$feature-tab-1-offset-y: -681px;
$feature-tab-1-width: 394px;
$feature-tab-1-height: 72px;
$feature-tab-1-total-width: 1085px;
$feature-tab-1-total-height: 917px;
$feature-tab-1-image: '../img/sprite.png';
$feature-tab-1: (0px, 681px, 0px, -681px, 394px, 72px, 1085px, 917px, '../img/sprite.png', 'feature-tab-1', );
$feature-tab-2-h-name: 'feature-tab-2-h';
$feature-tab-2-h-x: 404px;
$feature-tab-2-h-y: 681px;
$feature-tab-2-h-offset-x: -404px;
$feature-tab-2-h-offset-y: -681px;
$feature-tab-2-h-width: 394px;
$feature-tab-2-h-height: 72px;
$feature-tab-2-h-total-width: 1085px;
$feature-tab-2-h-total-height: 917px;
$feature-tab-2-h-image: '../img/sprite.png';
$feature-tab-2-h: (404px, 681px, -404px, -681px, 394px, 72px, 1085px, 917px, '../img/sprite.png', 'feature-tab-2-h', );
$feature-tab-2-name: 'feature-tab-2';
$feature-tab-2-x: 0px;
$feature-tab-2-y: 763px;
$feature-tab-2-offset-x: 0px;
$feature-tab-2-offset-y: -763px;
$feature-tab-2-width: 394px;
$feature-tab-2-height: 72px;
$feature-tab-2-total-width: 1085px;
$feature-tab-2-total-height: 917px;
$feature-tab-2-image: '../img/sprite.png';
$feature-tab-2: (0px, 763px, 0px, -763px, 394px, 72px, 1085px, 917px, '../img/sprite.png', 'feature-tab-2', );
$more-name: 'more';
$more-x: 1066px;
$more-y: 233px;
$more-offset-x: -1066px;
$more-offset-y: -233px;
$more-width: 13px;
$more-height: 13px;
$more-total-width: 1085px;
$more-total-height: 917px;
$more-image: '../img/sprite.png';
$more: (1066px, 233px, -1066px, -233px, 13px, 13px, 1085px, 917px, '../img/sprite.png', 'more', );
$play-name: 'play';
$play-x: 1066px;
$play-y: 206px;
$play-offset-x: -1066px;
$play-offset-y: -206px;
$play-width: 17px;
$play-height: 17px;
$play-total-width: 1085px;
$play-total-height: 917px;
$play-image: '../img/sprite.png';
$play: (1066px, 206px, -1066px, -206px, 17px, 17px, 1085px, 917px, '../img/sprite.png', 'play', );
$role-cur-name: 'role-cur';
$role-cur-x: 970px;
$role-cur-y: 327px;
$role-cur-offset-x: -970px;
$role-cur-offset-y: -327px;
$role-cur-width: 112px;
$role-cur-height: 21px;
$role-cur-total-width: 1085px;
$role-cur-total-height: 917px;
$role-cur-image: '../img/sprite.png';
$role-cur: (970px, 327px, -970px, -327px, 112px, 21px, 1085px, 917px, '../img/sprite.png', 'role-cur', );
$role-tab-1-h-name: 'role-tab-1-h';
$role-tab-1-h-x: 642px;
$role-tab-1-h-y: 284px;
$role-tab-1-h-offset-x: -642px;
$role-tab-1-h-offset-y: -284px;
$role-tab-1-h-width: 304px;
$role-tab-1-h-height: 72px;
$role-tab-1-h-total-width: 1085px;
$role-tab-1-h-total-height: 917px;
$role-tab-1-h-image: '../img/sprite.png';
$role-tab-1-h: (642px, 284px, -642px, -284px, 304px, 72px, 1085px, 917px, '../img/sprite.png', 'role-tab-1-h', );
$role-tab-1-name: 'role-tab-1';
$role-tab-1-x: 604px;
$role-tab-1-y: 425px;
$role-tab-1-offset-x: -604px;
$role-tab-1-offset-y: -425px;
$role-tab-1-width: 304px;
$role-tab-1-height: 72px;
$role-tab-1-total-width: 1085px;
$role-tab-1-total-height: 917px;
$role-tab-1-image: '../img/sprite.png';
$role-tab-1: (604px, 425px, -604px, -425px, 304px, 72px, 1085px, 917px, '../img/sprite.png', 'role-tab-1', );
$role-tab-2-h-name: 'role-tab-2-h';
$role-tab-2-h-x: 0px;
$role-tab-2-h-y: 845px;
$role-tab-2-h-offset-x: 0px;
$role-tab-2-h-offset-y: -845px;
$role-tab-2-h-width: 304px;
$role-tab-2-h-height: 72px;
$role-tab-2-h-total-width: 1085px;
$role-tab-2-h-total-height: 917px;
$role-tab-2-h-image: '../img/sprite.png';
$role-tab-2-h: (0px, 845px, 0px, -845px, 304px, 72px, 1085px, 917px, '../img/sprite.png', 'role-tab-2-h', );
$role-tab-2-name: 'role-tab-2';
$role-tab-2-x: 314px;
$role-tab-2-y: 845px;
$role-tab-2-offset-x: -314px;
$role-tab-2-offset-y: -845px;
$role-tab-2-width: 304px;
$role-tab-2-height: 72px;
$role-tab-2-total-width: 1085px;
$role-tab-2-total-height: 917px;
$role-tab-2-image: '../img/sprite.png';
$role-tab-2: (314px, 845px, -314px, -845px, 304px, 72px, 1085px, 917px, '../img/sprite.png', 'role-tab-2', );
$title2-name: 'title2';
$title2-x: 0px;
$title2-y: 425px;
$title2-offset-x: 0px;
$title2-offset-y: -425px;
$title2-width: 594px;
$title2-height: 132px;
$title2-total-width: 1085px;
$title2-total-height: 917px;
$title2-image: '../img/sprite.png';
$title2: (0px, 425px, 0px, -425px, 594px, 132px, 1085px, 917px, '../img/sprite.png', 'title2', );
$title3-name: 'title3';
$title3-x: 0px;
$title3-y: 142px;
$title3-offset-x: 0px;
$title3-offset-y: -142px;
$title3-width: 915px;
$title3-height: 132px;
$title3-total-width: 1085px;
$title3-total-height: 917px;
$title3-image: '../img/sprite.png';
$title3: (0px, 142px, 0px, -142px, 915px, 132px, 1085px, 917px, '../img/sprite.png', 'title3', );
$title4-name: 'title4';
$title4-x: 0px;
$title4-y: 0px;
$title4-offset-x: 0px;
$title4-offset-y: 0px;
$title4-width: 960px;
$title4-height: 132px;
$title4-total-width: 1085px;
$title4-total-height: 917px;
$title4-image: '../img/sprite.png';
$title4: (0px, 0px, 0px, 0px, 960px, 132px, 1085px, 917px, '../img/sprite.png', 'title4', );
$title5-name: 'title5';
$title5-x: 0px;
$title5-y: 284px;
$title5-offset-x: 0px;
$title5-offset-y: -284px;
$title5-width: 632px;
$title5-height: 131px;
$title5-total-width: 1085px;
$title5-total-height: 917px;
$title5-image: '../img/sprite.png';
$title5: (0px, 284px, 0px, -284px, 632px, 131px, 1085px, 917px, '../img/sprite.png', 'title5', );
$spritesheet-width: 1085px;
$spritesheet-height: 917px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow, $btn-raders-h, $btn-raders, $copyright, $cur-h, $cur, $feature-tab-1-h, $feature-tab-1, $feature-tab-2-h, $feature-tab-2, $more, $play, $role-cur, $role-tab-1-h, $role-tab-1, $role-tab-2-h, $role-tab-2, $title2, $title3, $title4, $title5, );
$spritesheet: (1085px, 917px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
