<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content="" />
    <link rel="icon" href="//img1.37wanimg.com/www/images/common/37/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="//img1.37wanimg.com/www/images/common/37/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=750, user-scalable=no">
    <title></title>
    <script>
        let search = window.location.search;
        if(!navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)){
            if(search){
                window.location.href = '//www.37.com/sgby/' + search;
            }else{
                window.location.href = '//www.37.com/sgby/';
            }
        }
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="//img1.37wanimg.com/sgby/extras/wap/js/jsmpeg.min.js"></script>
</body>
</html> 